<div class="container">
  <div class="row header-row">
    <div class="col-xs-2">
      Priority
    </div>
    <div class="col-xs-6">
      Issue
    </div>
    <div class="col-xs-2">
      Status
    </div>
    <div class="col-xs-2">
      Created
    </div>
  </div>
  <% if platform.issues.count > 0 %>
    <% platform.issues.each do |issue| %>
      <div class="row">
        <div class="col-xs-2">
          <%= issue.priority %>
        </div>
        <div class="col-xs-6">
          <%= link_to issue.subject, [platform, issue] %>
        </div>
        <div class="col-xs-2">
          <%= issue.status %>
        </div>
        <div class="col-xs-2"> 
          <%= issue.created_at.getlocal.strftime("%B %d at %I:%M %p") %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-xs-12 text-center">
        There are no issues currently for this platform. <% if policy(Issue.new(platform: @platform)).create? %> <%= link_to "Create a new issue?", new_platform_issue_path(@platform) %> <% end %>
      </div>
    </div>
  <% end %>
</div>