<h1>new platform generator</h1>
<%= form_for(@platform) do |f| %>
  <% if @platform.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@platform.errors.count, "error") %>
        prohibited this project from being saved: 
      </h2>
      <ul>
        <% @platform.errors.full_messages.each do |msg| %>
          <li> <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, "Description" %> <br>
    <%= f.text_field :description %>
  </p>

  <%= f.submit "Create Platform" %>
<% end %>
