<% title(@platform.name, "Platforms") %>
<div class="page-header">
	<h1>Platform<h1>
	<ul class="actions">
		<li>
			<%= link_to "New Issue", new_platform_issue_path(@platform), class: "new-btn" %>
		<li>
			<%= link_to "Edit Platform", edit_platform_path(@platform), class: "edit-btn" %>
		</li>
		<li>
			<%= link_to "Delete Platform", platform_path(@platform), method: :delete, data: {confirm: "Are you sure you want to delete this platform?"}, class: "delete-btn" %>
		</li>
</div>
<h3><%= @platform.name %></h3>
<p>
  <%= @platform.description %>
</p>

<ul id="issues">
  <% @platform.issues.each do |issue| %>
    <li>
      #<%= issue.id %> - <%= link_to issue.subject, [@platform, issue] %>
    </li>
  <% end %>
</ul>


