<%= simple_form_for([platform, issue]) do |f| %>
	
	<%= f.association :priority %>
	<%= f.input :subject %>
	<%= f.input :issue %>
	<%= f.input :impact %>
	<%= f.input :ticket %>
	<%= f.association :status %>
	<%= f.input :next_steps %>
	<div id="attachments">
	  <h3>Attachments</h3>
	  <%= render partial: "attachments/form", locals: { f: f, index: 0} %>
  </div>
  <div id="addmore">
	<%= link_to "Add another file", new_attachment_path, remote: true, id: "add_file", data: { params: { index: issue.attachments.size } }, class: "add-btn" %>
	</div>
	<%= f.button :submit, class: "btn-primary" %>

<% end %>