<div id="issue">
	<div class="page-header">
		<h1><%= @platform.name %></h1>
		<h2 class="<%= @issue.priority%>"><%= @issue.subject %></h2>
    <ul class="actions">
      <% if policy(Issue.new(platform: @platform)).update? %>
        <li>
          <%= link_to "Edit Issue", [:edit, @platform, @issue], class: "edit-btn" %>
        </li>
      <% end %>
      <% if policy(Issue.new(platform: @platform)).destroy? %>
        <li>
          <%= link_to "Delete Issue", platform_issue_path(@platform, @issue), method: :delete, data: {confirm: "Are you sure you want to delete this issue?"}, class: "delete-btn" %>
        </li>
      <% end %>
      <li>
        <%=link_to @platform.name, platform_path(@platform), class: "back-btn" %>
      </li>
	</div>
  <div class="row header-box">
    <div class="col-xs-12 col-md-3 <%= @issue.priority %>">
      <div class="text-label">Priority: </div> <%= @issue.priority %>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="text-label">Platform: </div> <%= @platform.name %>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="text-label">Ticket: </div> <%= @issue.ticket %>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="text-label">Creator: </div> <%= @issue.author.email %>
    </div>
  </div>
  <div class="container">
    <div class="data-box">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-label">Subject:</div>
          <div class="text-display">
            <%= simple_format(@issue.subject) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-label">Issue:</div>
          <div class="text-display">
            <%= simple_format(@issue.issue) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-label">Impact:</div>
          <div class="text-display">
            <%= simple_format(@issue.impact) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-label">Status:</div>
          <div class="text-display">
            <%= simple_format(@issue.status) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-label">Next Steps:</div> 
          <div class="text-display">
            <%= simple_format(@issue.next_steps) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-label">Issue Created:</div> 
          <div class="text-display">
            <%= @issue.created_at.getlocal.strftime("%B %d at %I:%M %p") %>
          </div>
        </div>
      </div>
      <% if @issue.attachment.present? %>
        <div class="row attachment">
          <div class="col-xs-12">
            <div class="text-label">Attachment:</div> 
            <div class="text-display">
              <%= link_to File.basename(@issue.attachment.url), @issue.attachment.url %> (<%= number_to_human_size(@issue.attachment.size)%>)
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>