<div class="page-header">
  <h1>Forgot your password?</h1>
  <ul class="actions">
    <li>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn signup-btn" %>
    </li>
    <li>
      <%= link_to "Sign in", new_user_session_path, class: "btn signin-btn" %>
    </li>
  </ul>
</div>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary" %>
  </div>
<% end %>


