<% title(@user.email, "Users") %>
<div class="page-header">
  <h1><%= @user.email %><h1>
  <ul class="actions">
    <li>
      <%= link_to "Edit User", [:edit, :admin, @user], class: "edit-btn" %>
    </li>
    <li>
      <%= link_to "Archive User", [:archive, :admin, @user], class: "delete-btn", method: :patch, data: {confirm: "Are you sure you want to archive this user?"} %>
    </li>
   </ul>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="col-header">Email:</div> <%=@user.email%>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="col-header">User Type:</div> <%= @user.user_type %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="col-header">Created Date:</div> <%= @user.create_date %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="col-header">Last Logged In:</div> <%= @user.last_log_in %>
  </div>
</div>

<header>
  <h2>Roles</h2>
</header>

<% if @user.roles.any? %>
  <ul>
    <% @user.roles.each do |role| %>
      <li><%= role.platform.name %>: <%= role.role.titleize %></li>
    <% end %>
  </ul>
<% else %>
  <p>This user has no roles assigned.</p>
<% end %>
